/* Global styles for body and main container */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}

.aboutUs {
  padding: 40px;
}

/* Header styles */
.header {
  text-align: center;
  margin-bottom: 30px;
}

.title {
  font-size: 3rem;
  color: black;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: "Playfair Display", serif;
}

.subtitle {
  font-size: 1.2rem;
  color: #555;
  font-weight: 500;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
}

/* Section styles */
.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.textContainer {
  flex: 1;
}

.description {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 20px;
  line-height: 1.8;
  font-weight: 400;
}

.imageContainer {
  flex: 1;
}

.image {
  width: 100%; /* Ensure the image takes full width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Optional for rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional for a subtle shadow */
}
/* Mission Section */
.mission {
  background-color: black;
  color: white;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
}

.missionTitle {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.missionText {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #ccc;
  max-width: 800px;
  margin: 0 auto;
}

/* Footer styles */
.footer {
  text-align: center;
  padding: 20px;
  background-color: #f8f8f8;
  margin-top: 40px;
  border-top: 1px solid #ddd;
}

.footerText {
  color: #888;
  font-size: 1rem;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .section {
    flex-direction: column;
    text-align: center;
  }

  .image {
    margin-top: 20px;
  }

  .footerText {
    font-size: 0.9rem;
  }
}
