/* @font-face {
  font-family: "Futura";
  src: url("../assets/fonts/Futura.woff2") format("woff2"),
    url("../assets/fonts/Futura.woff") format("woff"),
    url("../assets/fonts/Futura.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
} */

footer {
  background-color: #000; /* Pure black background */
  color: #fff; /* White text */
  padding: 50px 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif; /* Changed to Montserrat */
}

.h4 {
  font-family: "Montserrat", sans-serif; /* Changed to Montserrat */
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.5px;
  color: #fff;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.h4 span {
  font-weight: bold;
}

.h3 {
  font-family: "Montserrat", sans-serif; /* Changed to Montserrat */
  font-size: 42px; /* Updated font size for prominence */
  font-weight: 300; /* Slimmer weight */
  text-transform: uppercase;
  letter-spacing: 3px; /* Increased spacing for elegance */
  margin-bottom: 20px;
  color: white;
}

.p {
  font-family: "Montserrat", sans-serif; /* Changed to Montserrat */
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #bbb; /* Light gray */
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.socialLinks {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.socialLinks a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-family: "Montserrat", sans-serif; /* Changed to Montserrat */
}

.socialLinks a:hover {
  text-decoration: underline;
  color: #bbb;
}

.copyRight {
  font-size: 14px;
  color: #bbb;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif; /* Changed to Montserrat */
}

.allRightsReserved {
  font-size: 12px;
  color: #bbb;
  font-family: "Montserrat", sans-serif; /* Changed to Montserrat */
}
